[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
agraffe = "*"
joblib = "*"
firebase-admin = "*"
janome = "*"
scikit-learn = "*"
functions-framework = "*"

[dev-packages]
jupyter = "*"
pandas = "*"
matplotlib = "*"
